.react-color-picker,
.react-color-picker *,
.react-color-picker--saturation-spectrum,
.react-color-picker--saturation-spectrum *,
.react-color-picker--hue-spectrum,
.react-color-picker--hue-spectrum * {
  box-sizing: border-box;
}
.react-color-picker--saturation-spectrum,
.react-color-picker--hue-spectrum {
  position: relative;
  display: inline-block;
}
.react-color-picker--saturation-white,
.react-color-picker--saturation-black {
  position: relative;
  width: 100%;
  height: 100%;
}
.react-color-picker--saturation-white {
  background: linear-gradient(to right, #fff, rgba(204,154,129,0));
}
.react-color-picker--saturation-black {
  background: linear-gradient(to top, #000, rgba(204,154,129,0));
}
.react-color-picker--saturation-spectrum {
  cursor: pointer;
}
.react-color-picker--saturation-spectrum .react-color-picker--saturation-drag {
  display: none;
  border: 1px solid #fff;
  border-radius: 10px;
  position: absolute;
  top: 0px;
  left: 0px;
}
.react-color-picker--saturation-spectrum .react-color-picker--saturation-drag .react-color-picker--saturation-inner,
.react-color-picker--saturation-spectrum .react-color-picker--saturation-drag .react-color-picker--hue-inner {
  position: relative;
  width: 100%;
  height: 100%;
  border: 1px solid #000;
  border-radius: 10px;
}
.react-color-picker--hue-spectrum {
  background: linear-gradient(to bottom, #f00 0%, #ff0 17%, #0f0 33%, #0ff 50%, #00f 67%, #f0f 83%, #f00 100%);
  cursor: pointer;
}
.react-color-picker--hue-spectrum .react-color-picker--hue-drag {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  border: 1px solid #000;
}
